:root{
  /* --bg:#0b1020;
  --bg-soft:#0e1530;
  --txt:#e7ecff;
  --muted:#2f90d7;
  --brand:#ea7423;
  --brand-2:#7bffd1; 
  --ring: #ea7423;
  --ok:#38d39f; --warn:#ffd166; --err:#ff5c7a;
  --shadow:0 10px 30px rgba(0,0,0,.35); */
  --blue1:#031b39;
  --blue2:#002e5e;
  --blue3:#2ba8e8;
  --orange:#f0710f;

  --blueDark:#01132b;
}

body {
  background:linear-gradient(180deg,var(--blueDark) 0%, var(--blueDark) 60%);
  height: 100vh;
}

.no-caret .dropdown-toggle::after {
  display: none;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232BA8E8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link.show {
  color: var(--blue3) !important;
}

.nav-link:focus {
  color: var(--blue3) !important;
}

/** FONTS **/
.tiktok-sans {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:where(.fw-100) { font-weight: 100; }
:where(.fw-200) { font-weight: 200; }
:where(.fw-300) { font-weight: 300; }
:where(.fw-400) { font-weight: 400; }
:where(.fw-500) { font-weight: 500; }
:where(.fw-600) { font-weight: 600; }
:where(.fw-700) { font-weight: 700; }

.modak {
  font-family: 'Modak', system-ui;
  font-weight: 400;
  font-style: normal;
}

.krona {
  font-family: 'Krona One', sans-serif;
  font-weight: 100;
  font-style: normal;
}

/** LOGIN **/
.website-login-container {
  min-height: 100vh;
}

.website-login-card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.website-login-logo {
  color: var(--blue2);
}

/** NAVBAR **/
.website-navbar {
  background-color: var(--blue1);
  border-bottom: 1px solid var(--blue2);
}

.website-navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.website-navbar-brand-logo {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.website-navbar-button {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2ba8e8;
  background: none;
}

.website-navbar-button a {
  color: #2ba8e8;
}

.website-navbar-button a:hover {
  color: #2ba8e8;
}

.website-navbar-button-icon {
  padding: 5px;
  border: 1px solid var(--blue1) !important;
}

.website-navbar-button-icon:hover {
  background: var(--blue2);
  border: 1px solid var(--blue3) !important;
}

.website-navbar-button-icon.active {
  background: var(--blue2);
  border: 1px solid var(--blue3) !important;
}

.website-navbar-action-buttons {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.website-navbar-action-buttons-danger {
  border: 1px solid red;
  background-color: red;
}

.website-navbar-action-buttons-success {
  border: 1px solid green;
  background-color: green;
}

.website-navbar-action-exit {
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2ba8e8;
  background: none;
}

.default-button {
  background: var(--blue3) !important;
  border: none;
}

.default-button:hover {
  background: var(--blue2) !important;
  border: none;
}

/** ACCORDION **/
.website-accordion-header-border-radius {
  border-radius: 5px !important;
}

.website-accordion-header-border-radius button {
  border-radius: 5px !important;
}

.website-accordion-header-button-bg-gray button {
  background-color: #eee;
  border: none !important;
}

.website-accordion-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.website-accordion-header-title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.website-accordion-header-title {
  display: flex;
  gap: 10px;
}

.website-accordion-header-action-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.accordion-button[aria-expanded="true"] {
  background-color: var(--blue3);
  color: #FFF;
}

.accordion-button[aria-expanded="false"] {
  background-color: var(--blue1);
  color: #FFF;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

/** TABS **/
.nav-item .active{
  border-top: 3px solid #c9c9c9 !important;
  border-left: 3px solid #EEE !important;
  border-right: 3px solid #EEE !important;
  border-bottom: none !important;
}

.website-tabs {
  border-radius: 5px;
  border-left: 3px solid #EEE;
  border-right: 3px solid #EEE;
  border-bottom: 3px solid #EEE;
  padding: 10px;
}

/** INFO **/
.website-info {
  cursor: pointer;
  color: #a1a1a1;
}

/** CARD **/
.website-card {
  background: #FFF;
  border-radius: 5px;
  padding: 10px;
}

.website-card-header {
  background-color: var(--blue1);
  color: #FFF;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/** SWITCH **/
.form-switch-lg .form-check-input {
  width: 4em;
  height: 2em;
}

.form-switch-lg .form-check-input:checked {
  background-position: right center;
}

/* SETTINGS MENU */
.menu-direita {
  display: flex;
  margin-left: auto !important;
}

.website-settings-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.website-settings-menu-item {
  padding: 10px;
  border: 3px solid #EEE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.website-settings-menu-item:hover {
  border: 3px solid #DDD;
  background-color: #EEE;
}

.website-settings-menu-item.active {
  border: 3px solid #DDD;
  background-color: #EEE;
}

.notification-date {
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.notification-item:hover {
  background-color: #EEE;
}

.notification-item:hover .notification-date {
  background-color: #CCC;
}

.dropdown-website-select:hover {
  background-color: #EEE;
}

.dropdown-website-select-item:hover {
  background-color: #FFF;
}

.btn.show {
  background-color: #EEE !important;
}

.dropdown-item {
  padding: 5px;
}

.dropdown-item:hover {
  background-color: var(--blue2);
}

.dropdown-item.active {
  background-color: #DDD;
  color: #000;
}

.dropdown-menu {
  background: var(--blueDark);
  border: 1px solid var(--blue3);
}

/** LEADS **/
.table-head-row th {
  background-color: var(--blue3) !important;
  border-radius: 5px 5px 0px 0px;
}

/** USERS **/
.users-itens {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 1px solid var(--blue1);
  border-radius: 5px;
  padding: 5px;
}

.users-itens:hover {
  background-color: #EEE;
}

/** MOBILE **/
@media (max-width: 768px) {
  .website-login {
    padding: 10px;
  }

  .menu-direita {
    display: block;
    margin: 0 !important;
  }
}