body {
  background-color: #ddd;
}

/** FONTS **/
.modak {
  font-family: 'Modak', system-ui;
  font-weight: 400;
  font-style: normal;
}

.krona {
  font-family: 'Krona One', sans-serif;
  font-weight: 100;
  font-style: normal;
}

/** LOGIN **/
.website-login-container {
  min-height: 100vh;
}

.website-login-card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.website-login-logo {
  font-size: 8em;
  color: #ddd;
}

/** NAVBAR **/
.website-navbar {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.website-navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.website-navbar-brand-logo {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.website-navbar-button {
  border: 2px solid #BBBBBB;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BBBBBB;
}

.website-navbar-button-icon {
  padding: 5px;
}

.website-navbar-action-buttons {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.website-navbar-action-buttons-danger {
  border: 1px solid red;
  background-color: red;
}

.website-navbar-action-buttons-success {
  border: 1px solid green;
  background-color: green;
}

.website-navbar-action-exit {
  border: 2px solid #BBB;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #BBBBBB;
}

/** ACCORDION **/
.website-accordion-selected {
  border: 3px solid #eee !important;
}

.website-accordion-header-border-radius {
  border-radius: 5px !important;
}

.website-accordion-header-border-radius button {
  border-radius: 5px !important;
}

.website-accordion-header-button-bg-gray button {
  background-color: #eee;
  border: none !important;
}

.website-accordion-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.website-accordion-header-title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.website-accordion-header-title {
  display: flex;
  gap: 10px;
}

.website-accordion-header-action-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.accordion-button[aria-expanded="true"] {
  background-color: #BBBBBB;
  color: #000000;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

/** TABS **/
.nav-item .active{
  border-top: 3px solid #c9c9c9 !important;
  border-left: 3px solid #EEE !important;
  border-right: 3px solid #EEE !important;
  border-bottom: none !important;
}

.website-tabs {
  border-radius: 5px;
  border-left: 3px solid #EEE;
  border-right: 3px solid #EEE;
  border-bottom: 3px solid #EEE;
  padding: 10px;
}

/** INFO **/
.website-info {
  cursor: pointer;
  color: #a1a1a1;
}

/** CARD **/
.website-card {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  min-height: 30vh;
}

.website-card-header {
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/** SWITCH **/
.form-switch-lg .form-check-input {
  width: 4em;
  height: 2em;
}

.form-switch-lg .form-check-input:checked {
  background-position: right center;
}

/* SETTINGS MENU */
.website-settings-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.website-settings-menu-item {
  padding: 10px;
  border: 3px solid #EEE;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.website-settings-menu-item:hover {
  border: 3px solid #DDD;
  background-color: #EEE;
}

.website-settings-menu-item.active {
  border: 3px solid #DDD;
  background-color: #EEE;
}